python-socketio
grpcio
passlib==1.7.4
passlib[bcrypt]
PyJWT[crypto]
httpx
fastapi==0.115.7
uvicorn[standard]==0.34.0
aiohttp==3.11.11
python-multipart==0.0.20
pypdf==4.3.1
requests==2.32.3

# ML libraries
torch
numpy
ultralytics
opencv-python

# Visualization
matplotlib

# Similarity search
faiss-cpu

# Llama Index for RAG
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-chroma